.section {
    display: inline-block;
    align-items: center;
    margin: 20px auto;
    padding: 30px 40px;
    width: 100%;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border-left: 1px dotted black;
  }
  